.staff {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;


    &__title {
    margin: 0px;
    margin-bottom: 50px;

    color: $dark-color;
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    }

    &__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

    &__item:last-child {
    margin-right: 0px;
    }

    &__item {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    background-color: $white;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

        &--name {
        margin-bottom: 10px;
        margin-top: 30px;

        color: $dark-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        }   

        &--descript {
        margin: 0px;
        margin-bottom: 16px;
          font-size: 16px;
          line-height: 1.18;
          letter-spacing: 0.03em;
        text-align: center;
        }
    }
}