
.work {
  padding-bottom: 94px;

&__title {
  margin: 0px;
  margin-bottom: 50px;

  color: $dark-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

&__list {
  height: 294px;
  padding-right: 0px;
  padding-left: 0px;
}

    &__item {
    position: relative;
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;


        &--relative {
        position: relative;
        }
    }

    &__text {
    margin: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: $white;


        &--box {
        position: absolute;
        bottom: 0;

        align-items: center;
        justify-content: center;
        width: 370px;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        }
    }
}