body {
  font-family: "Roboto", sans-serif;
  color: $main-color;
  letter-spacing: 0.02em;
  padding-top: 80px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
 margin-left: auto;
 margin-right: auto;
 padding-right: 15px;
 padding-left: 15px;
}

.flex-box {
  display: flex;
  justify-content: center;
}