 $accent-color: #2196f3;
  $dark-color: #212121;
  $main-color: #757575;
  $white: #ffffff;
  $black: #000000;
  $footer-addres-color: rgba(255, 255, 255, 0.6);
  $bg-footer-color: #2f303a;
  $bg-color-main: #e5e5e5;
  $social-icon-color: #afb1b8;